{% extends "movie/index.html" %}
{% block movies-title %}
MY FAVOURITES
{% endblock movies-title %}
{% block movies %}

{% for movie in favourite_movies %}
<div class="movie-div">
    <!-- movie 1 -->
    <img class="movie-pic" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="img">
    <div class="movie-info">
        <h3>{{ movie.title }}</h3>
        <span class="green">{{ movie.vote_average }}</span>
        <!-- favourite button -->
        
    </div>

    <div class="overview">
        <h2>Overview</h2>
        {{ movie.overview }}
        <div>
            <a href="{% url 'favourite_add' movie.id %}" class="btn btn-outline-primary">Remove</a>
        </div>
    </div>
</div>
{% empty %}
<div><h3>You have no movie added to your favourites.</h3></div>
{% endfor %}

{% endblock movies %}