{% extends "users/base.html" %}
<!-- load crispy form -->
{% load crispy_forms_tags %}

<!-- jinja format -->
<!-- override this in base template -->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <!-- added form here (as p will render forn in paragraphs) -->
                <!-- form.as_p -dont need now due to crispy forms -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                <!-- url to register route -->
            </small>
        </div>

    </div>
{% endblock content %}

